login/WebContent/wsdl/implementarlogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.tallerjava.everis.com.mx" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.tallerjava.everis.com.mx" xmlns:intf="http://service.tallerjava.everis.com.mx" xmlns:tns1="http://login.tallerjava.everis.com.mx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.tallerjava.everis.com.mx" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://login.tallerjava.everis.com.mx"/>
   <element name="validar">
    <complexType>
     <sequence>
      <element name="obj" type="tns1:login"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarResponse">
    <complexType>
     <sequence>
      <element name="validarReturn" type="tns1:login"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://login.tallerjava.everis.com.mx" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="login">
    <sequence>
     <element name="contra" nillable="true" type="xsd:string"/>
     <element name="mensaje" nillable="true" type="xsd:string"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validarRequest">

      <wsdl:part element="impl:validar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validarResponse">

      <wsdl:part element="impl:validarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="implementarlogin">

      <wsdl:operation name="validar">

         <wsdl:input message="impl:validarRequest" name="validarRequest">

       </wsdl:input>

         <wsdl:output message="impl:validarResponse" name="validarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="implementarloginSoapBinding" type="impl:implementarlogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="implementarloginService">

      <wsdl:port binding="impl:implementarloginSoapBinding" name="implementarlogin">

         <wsdlsoap:address location="http://localhost:8080/login/services/implementarlogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
